body{

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
}
.register input {
    width: 400px;
}
.input-group {
    width: 400px!important;
}
.input-group-addon {
    width: 150px!important;
}
 p >.message {
    width: 300px;
    color: greenyellow;
    font-size: 23px;
}